@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    font-family: Open Sans;
}
.formContainer{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formWrapper{
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.formWrapper form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logo{
    color: #5B5D8D;
    font-weight: bold;
    font-size: 24px;
}

.title{
    color: #5B5D8D;
    font-size: 12px;
}

.formWrapper form input{
    padding: 15px;
    border: none;
    width: 250px;
    border-bottom: 1px solid #a7bcff;  
}

.formWrapper form input::placeholder{
    color: rgb(175, 175, 175);
}

.formWrapper form button{
   background-color: #7b96ec;
   color: white;
   padding: 10px;
   font-weight: bold;
   border: none;
   cursor: pointer;  
}

.formWrapper p{
    color: #5B5D8D;
    font-size: 12px;
    margin-top: 10px;
}

.formWrapper form label{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #8da4f1;
    font-size: 12px;
    cursor: pointer;
}

.formWrapper form label img{
   width: 32px;
}